h1 {
    color: blue;
    font-weight: 100;
}

h2 {
    color: red;
}

.thisclass {
    font-size: x-large;
    color: black;
}

a:hover {
    color: greenyellow
}

.thisclass {
    font-size: x-large;
    color: purple
}

.funfact {
    width: 1%;
    color: coral;
    font-size: large;
    text-decoration: line-through;
    background-color: aqua;
}

#special {
    font-style: oblique;
}

#speicaldos {
    font-style: italic;
}